@model CleanCart.ViewModels.ShopCatalog.ShopCatalogViewModel

<h2>CleanCart Catalog</h2>

<ul>
    @foreach (var item in Model.CatalogItems)
    {
        <li>@item.Title</li>
    }
</ul>

<h3>Add an item</h3>

@using (Html.BeginForm())
{
    <input type="text" name="itemCode" />
    <input type="text" name="itemTitle" />
    <button>Create</button>
}