@model CleanCart.ViewModels.ShopCatalog.ShopCatalogViewModel

<h2>CleanCart Catalog</h2>

<ul id="catalog-list">
    @foreach (var item in Model.CatalogItems)
    {
        <li>@item.Title</li>
    }
</ul>

<h3>Add an item</h3>

@Html.Partial("_ItemForm", Model.AddItemForm)